<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <title>Mona 的俳句</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Mona 的俳句">
    <meta property="og:description" content="關於我們救援犬 June 的最佳俳句">
    <meta property="og:image" content="/images/snowtocat_final.jpg">
    <meta property="og:image:alt" content="雪主題的章魚貓插圖">
  </head>
  <body>
    <h1>Mona 的俳句</h1>
    <div>
      <% for (const [i, { image, text }] of haikus.entries()) { %>
        <img
          class="mona-images"
          src="images/<%= image %>"
          alt="俳句插圖 <%= i + 1 %>" />
        <div class="haiku-containers">
          <p class="haikus"><%= text %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
